body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background-image: url("img/bg.svg");
}

body::before {
  content: "";
  display: block;
  height: 60px;
}

body::after {
  content: "";
  display: block;
  height: 180px;
}

/* navbar */
.navbar-bg {
  /* background-color: #fbcda3; */
}

/* video background */
.video-background {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: -59px;
}

.video-background::after {
  content: "";
  display: block;
  width: 210px;
  height: 34px;
  position: absolute;
  background-color: white;
  border-radius: 34px;
  bottom: -17px;
  left: 50%;
  margin-left: -105px;
}

/* about atma */

/* slider */
.carousel-item {
  height: 450px;
  background: #777;
  position: relative;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* footer */
footer {
  height: 180px;
  background-image: url("img/footer.svg");
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-content {
  box-sizing: border-box;
  padding-top: 28px;
  color: white;
}

.icons {
  width: 240px;
}

.fab {
  color: white;
  font-size: 40px;
}

.fab:hover {
  color: rgb(206, 84, 84);
}

.footer-content p {
  padding-top: 25px;
}

/* grid history */
.card-img-top {
  width: 100%;
  height: auto;
}

.grid-history,
.grid-lineup {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* grid lineup */
.lineup-image {
  border-radius: 50%;
}

/* grid ticket */
.grid-ticket .card {
  border-radius: 35px;
}

.grid-ticket .card a {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border: none;
}

.ticket-1 {
  background-image: linear-gradient(#ebd9c5, #eda88a);
}

.ticket-2 {
  background-image: linear-gradient(#f8f3cc, #deb35d);
}

.ticket-3 {
  background-image: linear-gradient(#c4efe7, #37b487);
}

/* grid faq */
.grid-faq {
  margin-top: 30px;
}

.grid-faq .card {
  border-radius: 32px;
}
